<footer>
  <span>
    &lt;a target="_blank" href="
    <%= link_to 'https://github.com/pEsquerdo/minimum', 'https://github.com/pEsquerdo/minimum', target: '_blank'%>
    "&gt;&lt;/a&gt;
  </span>
</footer>
